<%- include("../partials/header") %>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <p class="lead">YELPCAMP</p>
                <div class="list-group">
                    <li class="list-group-item active">Contact Person: John Doe</li>
                    <li class="list-group-item">Contact Number: 555-555-5555</li>
                    <li class="list-group-item">Location: <%= campground.location %></li>
                </div>
                <div id="map">

                </div>
            </div>
            <div class="col-md-9">
                <div class="thumbnail">
                    <img class="img-responsive" src="<%= campground.image %>">
                    <div class="caption">
                        <h4 class="pull-right">$
                            <%= campground.price %>/night</h4>
                        <h4>
                            <a>
                                <%= campground.name %>
                            </a>
                        </h4>
                        <p>
                            <%= campground.description %>
                        </p>
                        <p>
                            <em>Submitted by: <a href="../users/<%= campground.author.id %>"><%= campground.author.username %></a>, <%= moment(campground.createdAt).fromNow() %></em>
                        </p>
                        <% if(currUser && campground.author.id.equals(currUser._id) || currUser && currUser.isAdmin) { %>
                            <a class="btn btn-xs btn-warning" href="/campgrounds/<%= campground._id %>/edit">Edit</a>
                            <form id="delete-form" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="post">
                                <button class="btn btn-xs btn-danger">Delete</button>
                            </form>
                            <% } %>
                                <div style="margin-top: 10px;">
                                    <a class="btn btn-default" href="/campgrounds"><i class="fa fa-arrow-left"></i> Go back</a>
                                </div>
                    </div>
                </div>
                <!--Review section-->
                <div class="thumbnail well">
                    <div class="caption-full">
                        <% if (campground.rating === 0) { %>
                            <h5>
                                <em>No reviews yet.</em>
                            </h5>
                            <% } else { %>
                              <p>
                                  <span class="fa fa-star checked"></span>
                                  <span class="fa fa-star <% if (campground.rating > 1.5) { %> checked <% } %>"></span>
                                  <span class="fa fa-star <% if (campground.rating > 2.5) { %> checked <% } %>"></span>
                                  <span class="fa fa-star <% if (campground.rating > 3.5) { %> checked <% } %>"></span>
                                  <span class="fa fa-star <% if (campground.rating > 4.5) { %> checked <% } %>"></span>
                                  <em>(total reviews: <%= campground.reviews.length %>)</em>
                              </p>
                              <p>
                                  Current campground rating: <strong><%= campground.rating.toFixed(2) %></strong>
                              </p>
                              <p>
                                  <h4>Latest reviews for this campground:</h4>
                              </p>
                              <hr style="margin-top: 0;">
                              <% campground.reviews.slice(0, 5).forEach(function(review){ %>
                                  <div class="row">
                                      <div class="col-md-3">
                                          <%- '<span class="fa fa-star checked"></span>'.repeat(review.rating) %>
                                              <%- '<span class="fa fa-star"></span>'.repeat(5 - review.rating) %>
                                                <div>Review by: <strong><%= review.author.username %></strong></div>
                                                <span><em><%= review.updatedAt.toDateString() %></em></span>
                                                </div>
                                                <div class="col-md-9">
                                                  <p style="text-align: justify; word-wrap: break-word;">
                                                    <%= review.text %>
                                                  </p>
                                          <% if(currUser && review.author.id.equals(currUser._id) || currUser&&currUser.isAdmin){ %>
                                              <a class="btn btn-xs btn-warning" href="/campgrounds/<%=campground._id %>/reviews/<%=review._id %>/edit">Edit</a>
                                              <form id="delete-form" action="/campgrounds/<%=campground._id %>/reviews/<%=review._id %>?_method=DELETE" method="POST">
                                                  <input type="submit" class="btn btn-xs btn-danger" value="Delete">
                                              </form>
                                              <% } %>
                                      </div>
                                  </div>
                                  <hr>
                                  <% }); %>
                                      <div style="margin-bottom: 10px;">
                                          <h4><a href="/campgrounds/<%= campground._id %>/reviews"><i class="fa fa-search" aria-hidden="true"></i> See all reviews</a></h4>
                                      </div>
                                      <% } %>
                                          <div>
                                              <a class="btn btn-primary btn-lg <% if (currUser && campground.reviews.some(function (review) {return review.author.id.equals(currUser._id)})) { %> disabled <% } %>" href="/campgrounds/<%= campground._id %>/reviews/new"> Write a New Review</a>
                                          </div>
                                        </div>
                                      </div>

                <!--Comment section-->
                <div class="well">

                    <hr>
                    <% campground.comments.forEach(function(comment){ %>
                        <div class="row">
                            <div class="col-md-12">
                                <strong><%= comment.author.username %></strong>
                                <span class="pull-right"><%= moment(comment.createdAt).fromNow() %></span>

                            </div>
                        </div>
                        <p>
                            <%= comment.text %>
                        </p>
                        <% if(currUser && comment.author.id.equals(currUser._id) || currUser&& currUser.isAdmin) {%>

                            <form id="delete-form" action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE" method="post">
                                <button class="pull-right btn btn-xs btn-danger">Delete</button>
                            </form>
                            <a class="pull-right btn btn-xs btn-warning" href="/campgrounds/<%=campground._id %>/comments/<%= comment._id %>/edit">Edit</a>
                            <% } %>
                                <% }); %>
                                <form action="/campgrounds/<%= campground._id %>/comments" method="POST">
                                  <div class="form-group">
                                    <input class="form-control" type="text" name="comment[text]" placeholder="new comment goes here...">
                                  </div>
                                  <div class="form-group">
                                    <button class="btn btn-success">Submit Comment</button>
                                  </div>

                                </form>

                </div>
            </div>
        </div>
    </div>
    <script>
        function initMap() {
            var lat = <%= campground.lat %>;
            var lng = <%= campground.lng %>;
            var center = {
                lat: lat,
                lng: lng
            };
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 8,
                center: center,
                scrollwheel: false
            });
            var contentString = `
      <strong><%= campground.name %><br />
      <%= campground.location %></strong>
      <p><%= campground.description %></p>
    `
            var infowindow = new google.maps.InfoWindow({
                content: contentString
            });
            var marker = new google.maps.Marker({
                position: center,
                map: map
            });
            marker.addListener('click', function() {
                infowindow.open(map, marker);
            });
        }
    </script>

    <script async defer src="<%= process.env.GOOGLEMAPSAPI %>"></script>
    <%- include("../partials/footer") %>
